@using PagedList.Mvc;
@using PagedList;
@using 縱火0709.Models
@model PagedList.IPagedList<縱火0709.Models.ImgClass>
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="card">
    @* 輸入框 *@
    <div class="card-header">
        @Html.Partial("_imgInput")
    </div>
    <div class="card-block p-b-0">
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table">
                    <thead class="table-active ">
                        <tr>
                            <th style="width: 5%"><input id="checkAll" type="checkbox" /></th>
                            <th style="width: 8%">編號</th>
                            <th>圖片</th>
                            <th>圖片檔名</th>
                            <th style="width: 30%">圖片文字</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("_imgList", Model)
                    </tbody>
                </table>@* 編號排序按鈕 *@
                <div class="col-sm-12 table-responsive">
                    <a class="text-info" id="checkEdit">Edit</a>/
                    <a class="text-info" id="checkCancel">Cancel</a>/
                    <a id="checkUpdate" disabled="disabled">Update</a>
                </div>
                @* 分頁 *@
                <div class="text-center">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
                    {
                        page
                    }),
 new PagedListRenderOptions
 {
     LinkToFirstPageFormat = "首頁",
     LinkToLastPageFormat = "尾頁"
 })
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://kit.fontawesome.com/a6229d3238.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        $(function() {
            let page = window.location.search.split(`=`)[1] === undefined ? 1 : window.location.search.split(`=`)[1];

            //檔案編輯點選(自抓元素不用ajax)優化
            $(".Select").click(function() {
                let tr = $(this).closest("tr");
                let cc = tr.find("td:eq(4) #displayTxt").text().trim("");
                tr.find("td:eq(4) #enterTxt").show().find("input[name=imgTxt]").attr("value", cc);
                tr.find(".updateBtn").show();
                tr.find(".cencelBtn").show();
                tr.find(".Select").hide();
                tr.find(".deleteBtn").hide();
                tr.find("td:eq(4) #displayTxt").hide();
            });

            //取消點選
            $(".cencelBtn").click(function() {
                let tr = $(this).closest("tr");
                tr.find("td:eq(4) #enterTxt").hide();
                tr.find(".updateBtn").hide();
                tr.find(".cencelBtn").hide();
                tr.find(".Select").show();
                tr.find(".deleteBtn").show();
                tr.find("td:eq(4) #displayTxt").show();
            });

            //檔案更新點選(傳值action不用ajax)優化
            $(".updateBtn").click(function() {
                let tr = $(this).closest("tr");
                let fileInputTxt = tr.find("td:eq(4) #enterTxt").find("input[name=imgTxt]").val();
                let fileInputId = tr.find(".Select").attr("id");
                $(".updateBtn").attr("href", "/Admin/Img/UpdateFileTxt?id=" + fileInputId + "&txt=" + fileInputTxt + "&page=" + page);
            });

            //刪除點選
            $(".deleteBtn").click(function() {
                return confirm("確定要刪除?");
            });

            //檔案輸入框名稱顯示
            $('.custom-file-input').on('change',
                function() {
                    let fileName = $(this).val().split('\\').pop();
                    $(this).next(' .custom-file-control').addClass("selected").html(fileName);
                });

            //全選
            $("#checkAll").click(function() {
                //方法1
                $("input[name='imgID']").prop("checked", this.checked);
                $("input[name='imgID']").click(function() {
                    if ($("input[name='imgID']").length == $("input[name='imgID']:checked").length) {
                        console.log("ok");
                        $(this).prop("checked", "checked");
                    } else {
                        $(this).removeAttr("checked");
                    }
                });
            });

            //編輯編號排序
            $("#checkEdit").click(function() {
                //更新打開
                if ($(".chkCheckBoxId:checked").length > 0) {
                    $("#checkUpdate").removeAttr("disabled").attr("class", "text-danger");
                }
                let checkItem = new Array(); //checkid
                let checkTxtItem = new Array(); //checktxt

                $(".chkCheckBoxId:checked").each(function(i) {
                    let tr = $(this).closest("tr");
                    let ff = tr.find("td:eq(1) #displayOrder").text().trim("");
                    if (this.checked)
                        checkItem.push($(this).val());
                    tr.find("td:eq(1) #displayOrder").hide();
                    tr.find("td:eq(1) #enterOrder").show().find("input[name=imgorder]").attr("value", ff);

                    //checkCancel按鈕事件(優化)
                    $("#checkCancel").click(function() {
                        tr.find("td:eq(1) #displayOrder").show().siblings().hide();
                        //更新失效
                        $("#checkUpdate").attr("disabled", "disabled").removeAttr("class");
                    });
                });

                //checkUpdate按鈕事件
                $("#checkUpdate").click(function() {
                    //更新機制 防止取消事件又更新
                    if ($(this).attr("disabled") != "disabled") {
                        $(".chkCheckBoxId:checked").each(function(i) {
                            let gg = $(this).closest("tr").find("td:eq(1) #enterOrder").find("input[name=imgorder]").val();
                            checkTxtItem.push(gg);
                        });

                        $.ajax({
                            url: "@Url.Action("OrderUpdate", "Img")",
                            data: { "ids": checkItem, "text": checkTxtItem }, // 變數名稱必須跟Action裡的相同
                            cache: false,
                            type: "POST",
                            success: function(data) {
                                window.location.href = "/Admin/Img/index?page=" + page;
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                console("Found checkUpdate error when using Ajax!!");
                            }
                        });
                    }
                });
            });

        });
    </script>

}

@section Styles
{
    <style>
        .custom-file-control:lang(en)::after {
            content: "選擇圖片";
        }

        .custom-file-control:lang(en)::before {
            content: "上傳";
        }

        .custom-file-control.selected:lang(en)::after {
            content: "" !important;
        }

        .addbtn {
            background-color: #fda4a4 !important;
            border-color: #fda4a4 !important;
        }
    </style>
}