@{
    ViewBag.BarTitle = "關於我們";
    ViewBag.Subtitle = "協會介紹";
}
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

            <div class="sidebar sidebar-right">
                <div class="widget">
                    <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>@ViewBag.BarTitle</h2>
                    <ul class="arrow nav nav-tabs nav-stacked">
                        <li class="active"><a href="#">@ViewBag.Subtitle</a></li>
                        <li><a href="~/Home/master">專家介紹</a></li>
                    </ul>
                </div><!-- Categories end -->
            </div><!-- Sidebar end -->
        </div><!-- Sidebar Col end -->

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <h2 class="page-title">協會介紹</h2>
            <hr class="botmargin-min">

            <!-- 內容開始 -->

            <h3 class="about-title">第一屆理監事</h3>
            <table class="table table-striped career-table about-table">
                <thead>
                    <tr>
                        <th>職別</th>
                        <th>姓名</th>
                        <th>性別</th>
                        <th>職務(經歷)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>會長</td>
                        <td>梅可望</td>
                        <td>男</td>
                        <td>台灣發展研究院  榮譽董事長</td>
                    </tr>
                    <tr>
                        <td>常務理事</td>
                        <td>陳金蓮</td>
                        <td>女</td>
                        <td>中央警察大學  消防學系教授</td>
                    </tr>
                    <tr>
                        <td>常務理事</td>
                        <td>黃敬德</td>
                        <td>男</td>
                        <td>中央警察大學  消防學系副教授</td>
                    </tr>
                    <tr>
                        <td>秘書長</td>
                        <td>張慧蓓</td>
                        <td>女</td>
                        <td>長榮大學職業安全與職業醫學研究中心副主任</td>
                    </tr>
                    <tr>
                        <td>理事</td>
                        <td>李明峯</td>
                        <td>男</td>
                        <td>台南市政府消防局  局長</td>
                    </tr>
                    <tr>
                        <td>理事</td>
                        <td>何三平</td>
                        <td>男</td>
                        <td>
                            長榮大學職業安全與衛生學系助理教授<br>
                            長榮大學職業安全與職業醫學研究中心主任
                        </td>
                    </tr>
                    <tr>
                        <td>理事</td>
                        <td>高士峯</td>
                        <td>男</td>
                        <td>弘昌消防工程顧問(股)公司 總經理</td>
                    </tr>
                    <tr>
                        <td>理事</td>
                        <td>林金穗</td>
                        <td>男</td>
                        <td>富邦產物保險(股)公司  副總經理</td>
                    </tr>
                    <tr>
                        <td>理事</td>
                        <td>楊宗林</td>
                        <td>男</td>
                        <td>台南市政府消防局  副局長</td>
                    </tr>
                    <tr>
                        <td>理事</td>
                        <td>王宗展</td>
                        <td>男</td>
                        <td>高雄市政府消防局  大隊長</td>
                    </tr>
                    <tr>
                        <td>常務監事</td>
                        <td>李承龍</td>
                        <td>男</td>
                        <td>臺灣警察專科學校  刑事警察科助理教授</td>
                    </tr>
                    <tr>
                        <td>監事</td>
                        <td>謝松善</td>
                        <td>男</td>
                        <td>中央警察大學  兼任講師</td>
                    </tr>
                    <tr>
                        <td>監事</td>
                        <td>曾順正</td>
                        <td>男</td>
                        <td>中華民國消防設備師公會全國聯合會理事長</td>
                    </tr>
                </tbody>
            </table>
            <!-- Content row 1 end -->
            <!-- 內容結束 -->

            <div class="tags-area clearfix">

                <div class="share-items pull-right">
                    <ul class="post-social-icons unstyled">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- Content Col end -->
    </div><!-- Main row end -->
</div><!-- Conatiner end -->