@{
    ViewBag.BarTitle = "行事曆";
    ViewBag.Subtitle = "協會行事曆";
}
<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

        <div class="sidebar sidebar-right">
            <div class="widget">
                <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>@ViewBag.BarTitle</h2>
                <ul class="arrow nav nav-tabs nav-stacked">
                    <li class="active"><a href="#">@ViewBag.Subtitle</a></li>
                </ul>
            </div><!-- Categories end -->
        </div><!-- Sidebar end -->
    </div><!-- Sidebar Col end -->

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

        <h2 class="page-title">協會行事曆</h2>
        <hr class="botmargin-min">

        <!-- 內容開始 -->

        <div>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=iaaitw119%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>

        <!-- 內容結束 -->

        <div class="tags-area clearfix">

            <div class="share-items pull-right">
                <ul class="post-social-icons unstyled">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div><!-- Content Col end -->
</div><!-- Main row end -->