@{
    ViewBag.BarTitle = "關於我們";
    ViewBag.Subtitle = "專家介紹";
}

<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

        <div class="sidebar sidebar-right">
            <div class="widget">
                <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>@ViewBag.BarTitle</h2>
                <ul class="arrow nav nav-tabs nav-stacked">
                    <li><a href="~/Home/about">協會介紹</a></li>
                    <li class="active"><a href="~/Home/master">@ViewBag.Subtitle</a></li>
                </ul>
            </div><!-- Categories end -->
        </div><!-- Sidebar end -->
    </div><!-- Sidebar Col end -->

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

        <h2 class="page-title">專家介紹</h2>
        <hr class="botmargin-min">

        <!-- 內容開始 -->

        <div class="row">

            <div class="col-md-4">
                <div class="ts-service-wrapper">
                    <div class="ts-service-image-wrapper">
                        <span class="ts-service-image">
                            <a href="master_show.html" title="陳金蓮"><img class="img-responsive" src="~/font/images/pro1.jpg" alt="陳金蓮"></a>
                        </span>
                    </div>
                    <div class="ts-service-info">
                        <h3><a href="master_show.html">陳金蓮</a></h3>
                        <p>現職：中央警察大學消防系教授 </p>
                    </div>
                </div>
            </div><!-- Col 1 end -->

            <div class="col-md-4">
                <div class="ts-service-wrapper">
                    <div class="ts-service-image-wrapper">
                        <span class="ts-service-image">
                            <a href="master_show.html" title="黃敬德"><img class="img-responsive" src="~/font/images/pro2.jpg" alt="黃敬德"></a>
                        </span>
                    </div>
                    <div class="ts-service-info">
                        <h3><a href="master_show.html">黃敬德</a></h3>
                        <p>現職：中央警察大學消防系副教授 </p>
                    </div>
                </div>
            </div><!-- Col 2 end -->

            <div class="col-md-4">
                <div class="ts-service-wrapper">
                    <div class="ts-service-image-wrapper">
                        <span class="ts-service-image">
                            <a href="master_show.html" title="何三平"><img class="img-responsive" src="~/font/images/pro.jpg" alt="何三平"></a>
                        </span>
                    </div>
                    <div class="ts-service-info">
                        <h3><a href="master_show.html">何三平</a></h3>
                        <p>現職：長榮大學，職業安全與衛生學系，助理教授、長榮大學職業安全與職業醫學研究中心主任 </p>
                    </div>
                </div>
            </div><!-- Col 3 end -->

            <div class="col-md-4">
                <div class="ts-service-wrapper">
                    <div class="ts-service-image-wrapper">
                        <span class="ts-service-image">
                            <a href="master_show.html" title="李承龍"><img class="img-responsive" src="~/font/images/pro3.jpg" alt="李承龍"></a>
                        </span>
                    </div>
                    <div class="ts-service-info">
                        <h3><a href="master_show.html">李承龍</a> </h3>
                        <p>現職：臺灣警察專科學校 刑事警察科 </p>
                    </div>
                </div>
            </div><!-- Col 4 end -->

            <div class="col-md-4">
                <div class="ts-service-wrapper">
                    <div class="ts-service-image-wrapper">
                        <span class="ts-service-image">
                            <a href="master_show.html" title="張慧蓓"><img class="img-responsive" src="~/font/images/pro-size.jpg" alt="張慧蓓"></a>
                        </span>
                    </div>
                    <div class="ts-service-info">
                        <h3><a href="master_show.html">張慧蓓</a> </h3>
                        <p>現職：長榮大學職業安全與職業醫學研究中心副主任  </p>
                    </div>
                </div>
            </div><!-- Col 5 end -->

            <div class="col-md-4">
                <div class="ts-service-wrapper">
                    <div class="ts-service-image-wrapper">
                        <span class="ts-service-image">
                            <a href="master_show.html" title="卓經偉"><img class="img-responsive" src="~/font/images/pro4.jpg" alt="卓經偉"></a>
                        </span>
                    </div>
                    <div class="ts-service-info">
                        <h3><a href="master_show.html">卓經偉</a> </h3>
                        <p>現職：高雄市政府消防局第四救災救護大隊組長 </p>
                    </div>
                </div>
            </div><!-- Col 6 end -->
        </div><!-- Content row 1 end -->
        <!-- 內容結束 -->

        <div class="tags-area clearfix">

            <div class="share-items pull-right">
                <ul class="post-social-icons unstyled">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div><!-- Content Col end -->
</div><!-- Main row end -->