@{
    var BarTitle = ViewBag.BarTitle;
    var Subtitle = ViewBag.Subtitle;

}
<div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li>首頁</li>
            <li>@BarTitle</li>
            <li><a href="#"> @Subtitle</a></li>
        </ul>
    </div>
</div>